<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta content="telephone=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="">
  <link href="/css/mobile_common.css" rel="stylesheet">
  <link href="/css/wap.min.css" rel="stylesheet">
  <link href="/css/zuoping.css" rel="stylesheet">
  <script src="/js/com.js"></script>
  <script src="//cdn.bootcss.com/jquery/1.12.2/jquery.js"></script>
  <title>作品详情</title>
</head>
<body>

<section class="top-img">

  <% if @record.style == 'video' %>
      <video id="video" width="100%" data-niu="true" webkit-playsinline="true" preload="meta"
             poster="<%= ENV['QINIUPREFIX']+ @record.file_url %>?vframe/png/offset/0" x-webkit-airplay="allow"
             src="<%= ENV['QINIUPREFIX']+ @record.file_url %>" controls="controls">
      </video>
  <% else %>
      <img id='obj' class='acl' src="<%= ENV['QINIUPREFIX'] + @record.article.cover_img%>">
  <% end %>

</section>

<% if @record.style != 'video' %>

    <audio id="audio" src="<%= ENV['QINIUPREFIX'] + @record.file_url%>" autoplay controls preload="metadata"></audio>

<% end %>

<section class="info">
  <div class="clearfix">

    <a href="javascript:void(0)" class="left">
      <img class="user-circle-img-zuoping" src="<%= ENV["QINIUPREFIX"]+ @record.user.avatar %>">
    </a>

    <div class="relative">
      <span class="user-name">
        <%= @record.user.name %>
      </span>

      <span class="listen-num-zuoping">
        <%= @record.created_at.strftime("%m-%d") %>
      </span>

      <div class="user-school">
        <%= @record.user.try(:grade_team_class).try(:school).try(:name)%> <%= @record.user.try(:grade_team_class).try(:grade).try(:name)%>
      </div>
    </div>

  </div>

  <hr class="zuoping-info-hr">

  <div>
    <p class="info-desc"><%= @record.feeling %></p>
    <div class="desc">
      <div>
        <img src="/imgs/music.png" class="listen"> <span class="fl">&nbsp;<%= @record.view_count %></span>
      </div>
      <div style="float:right;"><img src="/imgs/love.png" class="love">
        <span class="fl">&nbsp;<%= @record.likes_count %></span>
      </div>

      <div style="float:right; margin-right:3rem">
        <img src="/imgs/talk.png" class="wtalk">
        <span class="fl"> &nbsp;<%= @record.comments_count %></span>
      </div>
      <div style="clear:both"></div>
    </div>

  </div>

</section>

<% if @record.comments_count > 0 %>

    <section class="suggest-section-zuoping">
      <h3 class="subtitle">
        评论(<%= @record.comments_count %>)
      </h3>
    </section>

    <% @record.comments.each do |comment| %>

        <section class="zuoping-talk">
          <div class="clearfix">
            <a href="javascript:void(0)" class="left">
              <img src="<%= ENV["QINIUPREFIX"]+comment.user.avatar%>" class="user-circle-img-zuoping")/>
            </a>
            <div class="relative">
              <span class="user-name-zuoping">
                <%= comment.user.name %>
              </span>
              <span class="listen-num-zuoping">
                <%= comment.created_at.strftime("%m-%d") %>
              </span>

              <div class="user-title-zuoping">
                <%= comment.user.grade_team_class.school.name %>
                <%= comment.user.grade_team_class.grade.name %>
              </div>

            </div>
          </div>

          <p class="user-desc">
            <%= comment.content %>
          </p>

          <hr class="zuoping-talk-hr">

        </section>

    <% end %>


<% end %>

<div>
  <span style='border-top:1px solid #d5d5d5;display:block;width:11rem;position: relative;top:2.6rem;left:1.1rem;'></span>
  <div class="wenzhang-more">
    更多作品
  </div>
  <span style='border-top:1px solid #d5d5d5;display:block;width:11rem;position: relative;float:right;top:-2.5rem;right:1rem;'></span>
</div>



<section class="suggest-section">

  <ul id="suggest-list" class="clearfix" style="margin-top:1rem;">

    <% @record.user.records.take(5).each do |record| %>

        <li class="suggest-item">
          <a href="javascript:void(0)" onclick="more(this)" rid="<%= record.id %>" class="relative suggest-link-zuoping">

            <% if record.style == 'media' %>
               <img src="<%= ENV["QINIUPREFIX"]+record.article.cover_img%>"class='public-img'/>
            <% else %>
                <img src="<%=ENV["QINIUPREFIX"]+record.file_url+'?vframe/png/offset/1'%>" class= 'public-img' )%>
            <% end %>

            <div class="yinying"><%= record.article.title %></div>
          </a>

          <div class="suggest-info">
            <div class="suggest-song-name text-nowrap"><%= record.user.name %></div>
          </div>
        </li>

    <% end %>


    <% if @record.user.records.size > 5 %>
        <li class="suggest-item">
          <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.happysong.android"  class="relative suggest-link-zuoping">
            <img src="/imgs/see_more.png" class="public-img">
          </a>
          <div class="suggest-info">
            <div class="nowrap"></div>
          </div>
        </li>
    <% end %>

  </ul>

</section>

<div class="work-confirm-container"  onclick="hidediv()">
  <div class="work-confirm">
    <div class="confirm-content">去欢乐诵查看更多好玩的作品</div>
    <div class="confirm-seprator-horizontal"></div>
    <div class="confirm-action-bar">
      <a id="seeMore" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.happysong.android" class="confirm-btn">下载欢乐诵</a>
      <div class="confirm-seprator-vetical"></div>
      <button type="button" class="confirm-btn" id="gotoWork">查看作品</button>
    </div>
  </div>
</div>
<div class="open-div">
  <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.happysong.android">
    <div>
      <img src="/imgs/icon.png"
           style="display:block;width:3.7rem;float:left;margin-left:1rem;margin-right:0.7rem;margin-top:0.6rem">
      <div style="float:left;margin-top:0.7rem;">
        <h3 style="font-size:1.4rem;margin-bottom:0.01rem;color:#fff">欢乐诵</h3>
        <p style="font-size:1rem;color:#fff">注册立即送一个会月</p>
      </div>
      <div style="float:right;margin-right:1.1rem;margin-top:0.9rem">
        <button style="background:#f1404b;width:8.2rem;color:#fff;font-size:1.3rem;height:3.1rem;border-radius:4px;border-color:#f1404b;">
          立即下载
        </button>
      </div>
      <div style="clear: both"></div>
    </div>
  </a>
</div>
<div class="zuopin-down">
  <img src="/imgs/sanjiao.png">
  <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.happysong.android">
    <button class="download">
      下载欢乐诵,与大家一起朗读
    </button>
  </a>
</div>

<% if @record.style != 'video' %>
    <script>
      var curIndex = 0;
      var timeInterval = 3000;
      var arr = new Array();
      $.get("/api/v1/albums/my_albums", {token: "<%= @record.user.auth_token%>"}, function (data) {
            $.each(data, function (i, v) {
              arr.push("http://7xpl2d.com1.z0.glb.clouddn.com/" + v.file_url)
            })
          }
      );


     if(arr.length==0){
        arr[]='http://7xpl2d.com1.z0.glb.clouddn.com/happysong/happysong_logo.jpg'
     }

      setInterval(changeImg, timeInterval);
      function changeImg() {
        $('#obj').fadeOut(800);
        var obj = document.getElementById("obj");
        if (curIndex == arr.length - 1) {
          curIndex = 0;
        }
        else {
          curIndex += 1;
        }
        obj.src = arr[curIndex];
        $('#obj').css('width', '100%');
        $('#obj').fadeIn(800);
      }
    </script>
<% end %>

<script>

  $('#gotoWork').click(function () {
    var rid = $('.will_go').attr('rid');
    location.href = '/share_record/' + rid;
  })

  $('#audo').css('width', '100%')

</script>
</body>
</html>
