<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Untitled Document</title>
  <script src="/dist/js/jquery.min.js"></script>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    a {
      color: #666666;
    }

    .clear {
      clear: both;
    }

    .footer {
      width: 100%;
      height: 73px;
      color: #ffffff;
      font-size: 12px;
      line-height: 73px;
      text-align: center;
      background-color: #f13f4b;
    }

    .p1 {
      color: #ff5c5c;
      font-size: 20px;
      float: left;
      padding-left: 40px;
    }

    .s1 {
      font-size: 14px;
      display: block;
      color: #333333;
      width: 100px;
      height: 30px;
      line-height: 30px;
      float: right;
    }

    .s2 {
      display: block;
      width: 150px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #f13f4b;
      float: right;
    }

    .top {
      heigth: 30px;
      width: 100%;
      margin-top: 20px;
    }

    table {
      border: 1px solid #f7f7f7;
      color: #333333;
      border-collapse: collapse
    }

    table tr {
      height: 45px;
      color: #333333;
      font-size: 14px;
    }

    table .pad {
      padding-left: 15px;
    }

    table .padm {
      padding-right: 10px;
      text-align: right;
    }

    table .padr {
      padding-right: 10px;
      text-align: right;
    }

    .zz {
      width: 70px;
      height: 40px;
      line-height: 40px;
      display: block;
      float: left;
      color: #333333;
      font-size: 14px;
      border: 1px solid #f7f7f7;
      text-align: center;
    }

    .xxbb {
      width: 70px;
      color: #333333;
      height: 40px;
      display: block;
      float: left;
      font-size: 14px;
      line-height: 40px;
      border: 1px solid #f7f7f7;
      text-align: center;
    }

    .active {
      background: #f7f7f7;
    }


    .pass{
      width:65px;
      height:30px;
      line-height:30px;
      text-align:center;
      border-radius:4px;
      background:#f13f4b;
      color:#ffffff;
      border:1px solid #f13f4b;
      margin-left:10px;
    }

    .pass-tx{
      width:65px;
      height:30px;
      line-height:30px;
      text-align:center;
      border-radius:4px;
      background:#f13f4b;
      color:#ffffff;
      border:1px solid #f13f4b;
      margin-left:10px;
    }
    /* CSS Document */
    /*分页*/
    .railspage {
      width: 400px;
      height: 25px;
      padding-top: 10px;
    }

    .railspage .pagination span {
      font-size: 12px;
      color: #999;
      line-height: 23px;
      float: right;
      margin-left: 5px;
    }

    .railspage .pagination span {
      width: 63px;
      text-align: center;
      border: 1px solid #999;
      cursor: pointer;
    }

    .railspage .pagination span.on {
      color: #fff;
      background: #f13f4b;
      border: 1px solid #3c90d9;
    }

    .railspage .pagination span a {
      width: 63px;
      display: block;
      background: #f13f4b;
      color: #ffffff;
      cursor: pointer;
    }


  </style>
</head>

<body>
<p class='top'><span class='p1'>渠道详情</span> <span class='s2'>Vicent</span>
  <span class='s1'>消息提醒&nbsp;&nbsp;&nbsp;|</span>
  <span class='s1' style='color:#ff5c5c'>转账记录&nbsp;&nbsp;&nbsp;<span style='color:#666666'>|</span></span></p>
<div class='clear'></div>
</p>
<hr style='background:#f6cbcb;height:5px;opacity:0.8;border-top:none;margin:20px 0px'/>

<div style='padding-left:40px;min-height:570px'>
  <p>
    <span class='zz' id="tx">提现申请</span>
    <span class='xxbb' id="bb">学校报备</span>
  </p>
  <div style='clear:both'></div>
  <div style="display:block" id="txdiv">
    <table width="830" border="1" cellpadding="10" >
      <% @apply_cash_backs.each do |apply| %>
          <tr>
            <td class='pad'><%= apply.channel_user.name %>申请提现<b style="color:#f13f4b"><%= apply.amount %>元</b></td>
            <td class='padm'><%= apply.created_at.strftime('%Y-%m-%d') %></td>
            <td class='padm'>
              <% if apply.passed %>
                  <b style="color:#f13f4b">转账成功</b>
              <% else %>
                  处理中
              <% end %>
            </td>
            <td class='padr'>
              <a href="/channel/channel_users/<%= apply.channel_user.id %>">查看详情</a>
              <% if !apply.passed %>
                  <button class="pass-tx" data-id="<%= apply.id %>">确认转账</button>
              <% end %>
            </td>
          </tr>
      <% end %>

    </table>

    <div class="railspage">
      <%= paginate @apply_cash_backs %>
    </div>

  </div>

  <div  id="bbdiv" style="display:none">
    <table width="830" border="1" cellpadding="10">
      <% @channel_schools.each do |school| %>
          <tr>
            <td class='pad'><%= school.channel_user.name %>申请报备学校 <%= school.school.fullname%></td>
            <td class='padm'><%= school.try(:created_at) %></td>
            <td class='padm'>
              <% if school.passed %>
                  <b style="color:#f13f4b">报备成功</b>
              <% else %>
                  处理中
              <% end %>
            </td>
            <td class='padr'>
              <a href="/channel/channel_users/<%= school.channel_user.id %>">查看详情</a>
              <% if !school.passed %>
                  <button class="pass" data-id="<%= school.id %>">申请通过</button>
              <% end %>

            </td>
          </tr>
      <% end %>

    </table>

  </div>


</div>
<div class='footer'> Copyright ©2016-2018 欢乐诵</div>
</body>
</html>

<script>
  $('#tx').click(function () {
    $(this).addClass('active').siblings().removeClass('active')
    $('#txdiv').show();
    $('#bbdiv').hide();
  })

  $('#bb').click(function () {
    $(this).addClass('active').siblings().removeClass('active')
    $('#bbdiv').show();
    $('#txdiv').hide();
  })

  $('#tx').trigger('click')

    $('.pass').click(function() {
      var sid = $(this).attr('data-id')
      var that = $(this)
      $.ajax({
        url: '/channel/message/pass_school',
        method: 'get',
        data: {id: sid},
        dataType: "text",
        success: function (data) {
          if (data == 'success') {
            that.parent().prev().html('<b style="color:#f13f4b">报备成功</b>')
            that.remove();

          }
          if (data == 'fail') {
            alert('失败,请重新操作')
          }
        }
      })
    })

      $('.pass-tx').click(function(){
        var id = $(this).attr('data-id')
        var that=$(this)
        $.ajax({
          url: '/channel/message/pass_tx',
          method:'get',
          data: { id: id},
          dataType: "text",
          success: function(data){
            if(data == 'success'){
              that.parent().prev().html('<b style="color:#f13f4b">转账成功</b>')
              that.remove();

            }
            if(data=='fail'){
              alert('失败,请重新操作')
            }
          }
        })

    })
</script>
