<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => false %>
  <link rel="stylesheet" href="/css/lanrenzhijia.css" media="all">
  <script src="/dist/js/jquery.min.js"></script>
  <title>欢乐诵渠道管理系统</title>
  <style>

    * {
      margin: 0;
      padding: 0;
    }

    a{
      text-decoration:none;
    }
    .top {
      height: 30px;
      width: 100%;
      margin-top: 20px;
    }

    .p1 {
      color: #ff5c5c;
      font-size: 20px;
      float: left;
      padding-left: 40px;
    }

    .s1 {
      font-size: 14px;
      display: block;
      color: #333333;
      width: 70px;
      height: 30px;
      line-height: 30px;
      float: right;

    }

    .s2 {
      display: block;
      width: 150px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #f13f4b;
      float: right;
    }

    .clear {
      clear: both;
    }

    table {
      border: 1px solid #f7f7f7;
      border-collapse: collapse;

    }

    table tr {
      height: 35px;
      line-height: 35px;
    }

    table tr th {
      font-size: 14px;
      color: #333333;
      border: 1px solid #f7f7f7;
      font-weight: 300;
    }

    table tr td {
      border: 1px solid #f7f7f7;
      font-size: 14px;
      color: #666666;
      text-align: center;
    }

    .footer {
      width: 100%;
      height: 73px;
      color: #ffffff;
      font-size: 12px;
      line-height: 73px;
      text-align: center;
      background-color: #f13f4b;
    }

    /* CSS Document */
    /*分页*/
    .railspage {
      width: 600px;
      height: 25px;
      padding-top: 10px;
    }

    .railspage .pagination span {
      font-size: 12px;
      color: #999;
      line-height: 23px;
      float: right;
      margin-left: 5px;
    }

    .railspage .pagination span {
      width: 63px;
      text-align: center;
      border: 1px solid #999;
      cursor: pointer;
    }

    .railspage .pagination span.on {
      color: #fff;
      background: #f13f4b;
      border: 1px solid #3c90d9;
    }

    .railspage .pagination span a {
      width: 63px;
      display: block;
      background: #f13f4b;
      color: #ffffff;
      cursor: pointer;
    }


  </style>
</head>

<body style='border-top:2px solid red;'>
<p class='top'>
  <span class='p1'>渠道用户数据</span>
  <span class='s2'><%= current_user.name%>,您好</span>
  <span class='s1'><%=link_to "退出登录|",channel_session_path,class:'s1', method: :delete, :confirm => "Are you sure ?" %></span>
  <span class='s1'>  <%= link_to "提现记录|",channel_channel_user_apply_cash_backs_path(current_user), class: 's1' %></span>
  <span class='s1' id='tx'>申请提现|</span>
  <%= link_to "学校报备|", new_channel_school_path, class: 's1' %>
  <%= link_to "个人中心 |",admin_admin_show_path(:id => current_user.id), class: 's1' %>
  <%= link_to "首页|",channel_root_path, class: 's1' %>

<div class='clear'></div>

<hr style='background:#f7f7f7;height:5px;opacity:0.8;border-top:none;margin:20px 0px'/>

<!---begin提现-->
<div class="theme-popover-tx">
  <div class="theme-poptit">
    <a href="javascript:;" title="关闭" class="close">×</a>
    <h3>提现</h3>
  </div>
  <div class="theme-popbod dform-tx">
    <p>
      <span class="pf">支付 宝 账号:</span>
      <input type="text" id="alipay" class="acount">
    </p>

    <p style="margin-bottom:0px;">
      <span class="pf">提&nbsp; 现&nbsp; 金&nbsp; 额:</span> <input class='money' id='money' type='text'> 元
    <div class="info">可提现金额: <span class="f13f4b" id="cantx">

        <% if @current_user.try(:channel_user_cash_back) %>
           <%= @current_user.try(:channel_user_cash_back).try(:amount)%>
        <% else %>
          0
        <% end %>
      </span>元
    </div>
    </p>

    <p>
      <span class="pf">提&nbsp; 现&nbsp; 信&nbsp; 息:</span> <span class='money1' id="txinfo">0元</span>
    <div class="ipf" style="display:none"><img src="/dist/tan.png"></div>
    </p>

    <p class="zp">
      <button class='z-btn'>提交申请</button>
    </p>

  </div>
</div>
<div class="theme-popover-mask"></div>
<!---end-->



<span style='display:block;font-size:14px;color:#7a7a7a;width:80px;height:40px;line-height:40px;text-align:center;border:1px solid #f7f7f7;margin-left:40px;'>提现记录</span>
<div style='padding-left:40px;min-height: 490px;'>
  <table cellspacing='0' cellpadding='5'>
    <thead>
    <tr>
      <th width='45'>序号</th>
      <th width='180'>支付宝账号</th>
      <th width='155'>申请金额</th>
      <th width='150'>申请时间</th>
      <th width='150'>状态</th>
    </tr>
    </thead>
    <tbody>
    <% @apply_cash_backs.each do |apply| %>
        <tr>
          <td> <%= apply.id %></td>
          <td> <%= apply.alipay %></td>
          <td> ￥<%= apply.amount %></td>
          <td> <%= apply.created_at.strftime("%Y-%m-%d") %></td>
          <td>
            <% if apply.passed %>
                成功
            <% else %>
                处理中
            <% end %>
          </td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <div class="railspage">
    <%= paginate @apply_cash_backs %>
  </div>

</div>
<div class='footer'>
  Copyright ©2016-2018 欢乐诵
</div>



<script src="/dist/js/tx.js"></script>

</body>
</html>
